:root {
  --primary-color: #a26034;
  --light-color: rgb(234, 223, 197, 0.9);
  --text-dark-color: #3a3a3a;
  --text-less-dark-color: rgb(120, 62, 4);
  --careful-color: rgb(204, 70, 8);
  --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --text-light-color: #FFD700;
  --light-background-color: #eeeadb;
  --background: url(https://images.metmuseum.org/CRDImages/ep/original/DP164779.jpg)

; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: var(--background);
  color: var(--text-dark-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px; }

button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer; }

a {
  color: unset;
  text-decoration: unset;
  color: var(--text-link-color);
  font-weight: bold; }

input, textarea {
  color: unset;
  background: unset;
  font: unset;
  border: unset; }
