:root {
    --primary-color: #a26034;
    --light-color: rgb(234, 223, 197, 0.9);
    --text-dark-color: #3a3a3a;
    --text-less-dark-color: rgb(120, 62, 4);
    --careful-color: rgb(204, 70, 8);
    --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --text-light-color: #FFD700;
    --light-background-color: #eeeadb;
    --background: url(https://images.metmuseum.org/CRDImages/ep/original/DP164779.jpg)

}