@import "../../style/mixins.scss";

.main {
    .btn-form-toggle {
        @include btn();
        background: var(--light-color);
        color: var(--primary-color);
        margin: 0 2rem;
        font-weight: bold;
    }
}

