@import "../../style/mixins.scss";


.argonaut {
    @include card();
    label, 
    input, 
    textarea {
        display: block;
    }

    label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
    }

    input, 
    textarea {
        margin-bottom: 1rem;
        padding: 0.3rem, 0.5rem;
        border-radius: 5px;
        width: 100%;
        background: var(--dark-color);
    }

    textarea {
        resize: none;
        height: 200px;
    }

    .btn-register,
    .btn-cancel {
        @include btn(); 
        margin-right: 1rem;
    }

    .btn-register {
        color: white;
        background: var(--primary-color);
    }

    .btn-cancel {
        color: white;
        background: var(--careful-color);
    }
}