@import "../../style/mixins.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light-color);
    margin-bottom: 2rem;

    a {
        color: unset;
        margin: 0 2rem;
    }


    h1 {
        // text-align: center;
        margin: 0 auto;
        font-size: 3rem;
        padding-left: 2rem;
        text-shadow: 0px 0px 5px #ec8f25, 0px 0px 10px #fff719, 0px 0px 10px #b393d3,
    0px 0px 20px #705b0f;

    }

    .navLinks {
        font-size: 1.5rem;
    }

    .login,
    .register {
        @include decor();
    }
}

